# Remove not needed docs and fluff
docs/
tests/
*.md
Makefile
*.dist
LICENSE
*.txt
phpunit.xml
composer.phar
composer.lock
composer-test.lock
build/artifacts/
artifacts/
docs/_build
docs/*.pyc
.idea
.DS_STORE
*.rst
.gitignore
